.app-steps {
    display: flex;
    gap: 120px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0px;
    width: 100%;
  }
  
  .step-card {
    width: 350px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #1f2d66;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  }
  
  .image-wrapper {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 0 0 20px 20px;
  }
  
  .image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-content h3 {
    color: white;
    font-size: 30px;
    margin-bottom: 10px;
  }
  
  .card-content p {
    text-align: justify;
    color: white;
    font-size: 15px;
    margin-bottom: 15px;
  }
  
  .download-link {
    color: orange;
    text-decoration: none;
    font-weight: bold;
  }
  

  @media (max-width: 1024px) {
  .app-steps {
    gap: 100px;
    padding: 30px 0px;
  }

  .step-card {
    width: 400px;
  }

  .card-content h3 {
    font-size: 44px;
  }

  .card-content p {
    font-size: 24px;
    text-align: left;
  }
  .download-link {
    padding-bottom: 1px;
  }
}

/* Mobiles (max-width: 600px) */
@media (max-width: 600px) {
  .app-steps {
    gap: 30px;
    flex-direction: column;
    align-items: center;
    padding: 20px 0px;
  }

  .step-card {
    width: 90%;
  }

  .card-content h3 {
    font-size: 20px;
  }

  .card-content p {
    font-size: 13px;
  }
}