.explore-section {
    padding: 40px 80px;
    text-align: center;
    max-width: 100%;
  }
  
  .explore-section h2 {
    font-size: 82px;
    color: orange;
    margin-bottom: 40px;
  }
  
  .city-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
  .city-card {
    width: 300px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fdf8ea;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    position: relative;
  }
  
  .city-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
  }
  
  .city-info {
    padding: 20px;
    text-align: left;
    position: relative;
  }
  
  .city-info h3 {
    margin: 0;
    color: #1f2d66;
    font-size: 1.25rem;
    text-transform: uppercase;
  }
  
  .city-info p {
    color: #777;
    margin-top: 5px;
    font-size: 0.95rem;
  }
  
  .plus-icon {
    position: absolute;
    right: 20px;
    bottom: 20px;
    font-size: 1.5rem;
    color: #f1ca5f;
  }
  
  @media (max-width: 1024px) {
  .explore-section {
    padding: 30px 0px;
  }

  .explore-section h2 {
    font-size: 70px;
  }

  .city-card {
    width: 380px;
    height: 350px;
  }
    .city-image {
    width: 100%;
    height: 250px;
    
  }
}

/* Mobiles (max-width: 600px) */
@media (max-width: 600px) {
  .explore-section {
    padding: 20px 0px;
  }

  .explore-section h2 {
    font-size: 42px;
  }

  .city-card {
    width: 90%;
  }

  .city-info h3 {
    font-size: 1.1rem;
  }

  .city-info p {
    font-size: 0.85rem;
  }

  .plus-icon {
    font-size: 1.3rem;
  }
}