.taxi-services {
    background-color: white;
    text-align: center;
    padding: 60px 20px;
    
  }
  
  .taxi-services h2 {
    font-size: 86px;
    color: #1f2d66;
    margin-bottom: 10px;
  }
  
  .subtitle-1 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  
  .service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 110px;
    margin-bottom: 30px;
  }
  
  .service-card {
    background: #1f2d66;
    border-radius: 20px;
    padding: 30px 20px;
    width: 200px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
  }
  
  .service-card:hover {
    transform: translateY(-5px);
  }
  
  .service-card img {
    width: 100%;
    max-height: 120px;
    object-fit: contain;
    margin-bottom: 15px;
  }
  
  .service-card h4 {
    font-size: 16px;
    color: white;
    margin: 0;
  }
  
  .buttons {
    margin-top: 20px;
  }
  
  .btn-primary {
    background-color: orange;
    color: white;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    left: 50px;
  }
  .btn-primary:hover{
    background-color: white;
    color: #1f2d66;
   
  }
  
  .btn-secondary {
    color: #1f2d66;
    padding: 12px 24px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
    margin-right: 20px;
    left: 50px;
  }
  .btn-secondary:hover {
    background-color:orange ;
    color: white;
    
  }
  
  @media (max-width: 1024px) {
  .taxi-services h2 {
    font-size: 90px;
  }

  .service-cards {
    gap: 60px;
  }

  .service-card {
    width: 280px;
    height: 200px;
  }
    .service-card img {
    width: 280px;
    max-height: 170px;
    
  }
}

/* Mobiles (max-width: 600px) */
@media (max-width: 600px) {
  .taxi-services h2 {
    font-size: 82px;
  }

  .subtitle-1 {
    font-size: 18px;
  }

  .service-cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .service-card {
    width: 80%;
  }

  .buttons {
    flex-direction: column;
    gap: 10px;
  }

  .btn-primary,
  .btn-secondary {
    display: inline-block;
    margin: 10px auto;
    width: 80%;
  }
}