a{
   text-decoration: none;
   color: white;
}
.footer {
    background-color: orange;
    padding: 40px 200px;
    font-family: Arial, sans-serif;
    color: white;
  }
  
  .footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-logo {
    width: 400px;
    height: auto;
    margin-bottom: 0px;
  }
  
  .footer-socials {
   
    display: flex;
    align-items: center;
    gap: 15px;
  }
  
  .footer-socials span {
    font-size: 18px;
    color: #555;
    cursor: pointer;
  }
  
  .footer-arrow {
    font-size: 18px;
    color: black;
    cursor: pointer;
  }
  
  .footer-line {
    margin: 20px 0;
    border: none;
    height: 1px;
    background-color: #000;
  }
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    color: white;
  }
  
  .footer-column {
    flex: 1;
    margin: 20px 0;
  }
  
  .footer-column h3 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    color: black;
  }
  
  .footer-column p {
    font-size: 20px;
    margin: 6px 0;
  }
  
  .footer-copy {
    text-align: center;
    font-size: 14px;
    margin-top: 30px;
    color: #555;
  }
  
  @media (max-width: 1024px) {
  .footer {
    padding: 40px 80px;
  }

  .footer-logo {
    width: 500px;
    margin-top: 10px;
  }
    .footer-socials {
    text-decoration: none;
  }

  .footer-column h3 {
    font-size: 32px;
  }

  .footer-column p {
    font-size: 23px;
  }
    .footer-copy {
    text-align: center;
    font-size: 24px;
    
  }
}

/* Mobiles (max-width: 600px) */
@media (max-width: 600px) {
  .footer {
    padding: 30px 20px;
  }

  .footer-top {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    width: 250px;
    margin-bottom: 20px;
    margin-left: -50px;
  }

  .footer-socials {
    justify-content: center;
  }

  .footer-columns {
    flex-direction: row;
    text-align: left;
    margin-left: 20px;
  }

  .footer-column h3 {
    font-size: 20px;
  }

  .footer-column p {
    font-size: 16px;
  }
    .footer-copy {
    text-align: center;
    font-size: 15px;
    
  }
}